.carousel {
  overflow: hidden;
}
.carousel-slider {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0px 10px 3px 10px;
}
.carousel-slider > * {
  align-items: flex-start;
}

/* width */
.carousel-slider::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.carousel-slider::-webkit-scrollbar-track {
  background: rgb(255,255,255,0.4); 
  border-radius: 10px;
}
 
/* Handle */
.carousel-slider::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 10px;
}

/* Handle on hover */
.carousel-slider::-webkit-scrollbar-thumb:hover {
  background: white; 
}