@media (min-width: 1025px) {
  #projects-container {
    grid-template-columns: 3fr 10fr 3fr;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #projects-container {
    grid-template-columns: 1fr 10fr 1fr;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  #projects-container {
    grid-template-columns: 1fr 10fr 1fr;
  }
}
@media (min-width: 481px) {
  #projects-container {
    grid-template-rows: auto auto;
  }
  .projects-top, .projects-bottom {
    grid-column: 2 / 3;
  }
}
@media (max-width: 480px){
  #projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .projects-top, .projects-bottom {
    grid-column: 1 / 2;
  }
}
#projects-container {
  display: grid;
  padding: 10px 10px 100px 10px;
  color: #36373B;
  grid-gap: 10px;
}
.projects-top {
  grid-row: 1/2;
}
.projects-bottom {
  grid-row: 2/3;
}