# dependencies
frontend/node_modules

# next.js
frontend/.next/

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# local env files
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# vercel
frontend/.vercel
