#footer {
  padding: 5vh;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.link-container, .bottom-text-container {
  padding: 10px 0px;
}
.footer-link {
  height: 40px;
  margin: 0px 15px;
  filter: invert(100%);
}
.bottom-text-container {
  font-size: 0.9rem;
  font-style: italic;
}