/* Big */
@media (min-width: 768px) {
  .header {
    grid-template-columns: 106px 1fr;
  }
  .hamburger {
    display: none;
  }
  .logo {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .navigation {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
  }
  .tab-group {  
    display: flex;
    flex-direction: row;
    padding: 0px 30px;
  }
  .tab {
    padding: 0px 10px;
  }
  .admin-group {
    margin-left: auto;
  }
}
/* Small */
@media (max-width: 767px) {
  .header {
    grid-template-columns: 50px auto 50px;
  }
  .hamburger {
    grid-column: 3/4;
    grid-row: 1/2;
    display: inline;
  }
  .logo {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .navigation {
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
  }
  .hide {
    display: none;
  }
  .tab-group {  
    display: flex;
    flex-direction: column;
  }
  .tab {
    border-top: 1px solid gray;
    padding: 6px 10px;
  }
  .admin-group {
    margin-bottom: 5px;
  }
}
.header {
  padding: 0px 10vw;
  font-size: 1.1rem;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
  align-items: center;
  z-index: 1; /* Box-Shadow disappears without this */
  position: relative; /* Box-Shadow disappears without this */
  display: grid;
  grid-template-rows: 60px auto;
}
.hamburger {
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.hamburger > img {
  width: 30px;
}
.logo {
  text-align: center;
  font-size: 1.4rem;
}
.navigation, .tab-group, .tab,.hamburger {
  height: 100%;
}
.tab {
  color: gray;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.tab:hover, .hamburger:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.05);
}