$font-stack: Roboto, "Helvetica Neue Arial", sans-serif;

// Background color scheme
$primary-color: white;
$primary-font-color: black;

// First panel color scheme
$secondary-color: black;
$secondary-font-color: white;

// Secondary panel color scheme
$tertiary-color: gray;
$tertiary-font-color: black;

// All generic settings
html, body,
div, p, ul, ol {
  margin:  0px;
  padding: 0px;
}

// Commonly used tools
.bounded, .bounded * {
  border: solid 1px black;
}