$font-stack: 'Roboto condensed', "Helvetica Neue Arial", Arial, sans-serif;

// Background color scheme
$primary-color: white;
$primary-font-color: black;

// First panel color scheme
$secondary-color: black;
$secondary-font-color: white;

// Secondary panel color scheme
$tertiary-color: gray;
$tertiary-font-color: black;
