@import 'design.scss';

// All generic settings
html, body,
div, p, ul, ol {
  margin:  0px;
  padding: 0px;
  font-family: $font-stack;
}

// Commonly used tools
.bounded, .bounded * {
  border: solid 1px black;
}

.round {
  border-radius: 40px;
}
.center {
  text-align: center;
  * {
    margin: 0px auto;
  }
}