body {
  font-family: Roboto, "Helvetica Neue Arial", sans-serif;
  color: rgb(50, 50, 50);
  font-size: 1em;
  padding: 0px;
  margin: 0px;
}

.bounded, .bounded * {
  border: solid 1px black;
}

ul {
  width: 100%;
}

li {
  list-style-type: none;
}

.roundedCard {
  border-radius: 40px;
}

.nav-anchor {
  position: relative;
  display: inline-block;
  margin-top: -56px;
  -webkit-transition: all 3.5s;
  transition: all 3.5s;
}
