.projects-container {
  margin-bottom: 400px;
}

.projects-container > .row, .section-title {
  text-align: center;
}

.individual-project {
  min-width: 400px;
  border: solid black 1px;
  padding: 20px;
  margin: 10px;
}

.thumbnail {
  max-width: 500px;
  max-height: 150px;
  margin: 15px auto;
}

.project-spacing {
  height: 20px;
}