.aws-image {
  max-width:100%;
  height: auto;
  margin: 30px auto;
}
.post-content-editor {
  margin-top: 20px;
  outline: none;
}
.post-content-editor:empty:before {
  color: gray;
  cursor: text;
  content: attr(data-placeholder);
  display: block; /* For Firefox */
}