@media (min-width: 480px) {
  .post-title {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }
}
@media (max-width: 481px){
  .post-title {
    font-size: 2.0rem;
    line-height: 2.5rem;
  }
}
.post-header {
  display: flex;
  flex-direction: row;
}
.post-tags {
  margin-left: auto;
}
.post-tag-editor {
  min-width: 88px;
  padding: 0px 5px;
  display: inline-block;
}
.post-title {
  overflow-wrap: anywhere;
}
.post-title:empty:before, .post-tag-editor:empty:before {
  color: gray;
  cursor: text;
  content: attr(data-placeholder);
  display: block; /* For Firefox */
}