<div class="row">
  <div class="col-lg-3">
    <app-home></app-home>
  </div>
  <div class="col-lg-9 col-md-12">
    <div *ngFor="let project of projects" class="row individual-project">
      <div class="col">
          <div class="row title">
            <h2>{{project.title}}</h2>
          </div>
          <div class="row center">
            <img src='{{project.img_url}}' alt="{{project.alt}}" class="thumbnail">
          </div>
          <div class="row">
            <div class="column">
                <div class="row project-content"><h3>Description:</h3></div>
                <div class="row project-content">{{project.description}}</div>
                <div class="row project-content"><h3 class="list-title">{{project.list_title}}:</h3></div>
                <ul>
                  <li *ngFor="let l of project.list" class="row project-content">{{l}}</li>
                </ul> 
            </div>
          </div>
      </div>
    </div>
  </div>
</div>