.individual-project {
    height: 90vh;
}
.title {
    border-bottom: solid 1px black;
    font-style: italic;
}
.list-title {
    margin-top: 30px;
}
.thumbnail {
    max-width: 800px;
    max-height: 300px;
    margin: 15px auto;
}
.center {
    text-align: center;
}
.project-content {
    margin: 0px;
}