<div class="row">
  <div class="login-container col-sm-11 col-md-5 card">
    <div class="row center">
      <h3>Administrator</h3>
    </div>
    <div class="row">
      <div class="col-12">
        <form (submit)='loginUser($event)'>
          <div class="row center">
            <input id="email" class="form-control" type="text" placeholder="Email" name="email" required>
          </div>
          <div class="row center">
            <input id="password" class="form-control" type="password" placeholder="Password" name="password" required>
          </div>
          <div class="row center submit-button">
              <input class="form-control" type="submit" value="Sign In">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
