$separation-color: lightgray;

// General Container
.all-blog-container {
  min-height: 80vh;
  color: #36373B;
  padding-top: 10px;
  padding-bottom: 40px;

  // Left (Post Viewing) Panel
  .whats-new-container {
    font-weight: bold;
    font-size: 30px;
    padding: 0px;
  }
  .post-container, .whats-new-container {
    padding: 0px 30px;
  }
  .page-selector {
    .pagination-button {
      margin: 10px 10px;
      padding: 0px 10px;
    }
    #pagination-left {
      margin-left: auto;
    }
    #pagination-right {
      margin-right: auto;
    }
    .pagination-button:hover {
      cursor: pointer;
    }
    .active {
      color: blue;
    }
  }
}