$separation-color: lightgray;

// General Container
.all-blog-container {
  margin-top: 56px;
  min-height: 80vh;
}
.hidden {
  display: none;
}


// Left (Post Viewing) Panel
.post-column-title {
  border-bottom: solid $separation-color 1px;
  padding: 10px 0px 3px 0px;
  background-color: white;
}

.post-column {
  background-color: $separation-color;
  border-left: solid $separation-color 1px;
  border-right: solid $separation-color 1px;
}