$separation-color: lightgray;

// General Container
.all-blog-container {
  min-height: 80vh;

  .hidden {
    display: none;
  }
  .center {
    text-align: center;
    * {
      margin: 0px auto;
    }
  }

  // Left (Post Viewing) Panel
  .new-post-container{
    border-bottom: 3px solid lightgray;
    margin-top: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    line-height: 30px;
      
    .new-post-button {
      border: 3px solid lightgray;
      border-radius: 10px;
    }
    .new-post-button:focus {
      outline: 0px;
    }
    .new-post-button:hover {
      border-color: gray;
      cursor: pointer;
    }
  }
}