$separation-color: lightgray;

// General Container
.all-blog-container {
  margin-top: 56px;
  padding-right: 10px;
}
.hidden {
  display: none;
}

// Both Panels
.blog-column {
  height: 80vh;
}

// Left (Post Viewing) Panel
.post-column-title {
  border-bottom: solid $separation-color 1px;
  padding: 10px 0px 3px 0px;
  background-color: white;
}

.post-column {
  background-color: $separation-color;
  border-left: solid $separation-color 1px;
  border-right: solid $separation-color 1px;
  overflow: hidden;
}

.total-blog-sleeve {
  position: relative;
  padding-bottom: 720px;
  .hidden {
    display: none;
  }
}

.posts-mask {
  overflow: hidden;
}

// Right (Dynamic) Panel
.dynamic-column {
}