@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

$separation-color: lightgray;
$padding-size: 30px;
$confirm-color: rgb(3, 186, 252);
$confirm-color-hover: rgb(97, 213, 255);

.post-viewer-container {
  padding-top: 10px;
  padding-bottom: 40px;
  .post-viewer-main-col {
    padding-left: 50px !important;
    padding-right: 50px !important;
    .viewer-information-row {
      .no-padding
      {
        padding: 0px;
        margin: 0px;
      }
      .tags-label {
        padding: 0px;
      }
    }
    .viewer-title-row {
      font-size: 50px;
      line-height: 1.1em;
    }
    .viewer-content-row {
      margin-top: 30px;
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      // This must be the same as the PostEditor
      .aws-image {
        max-width:100%;
        height: auto;
        display: block;
        margin: 30px auto;
      }
      .content-paragraph {
        min-height: 1.5em;
        line-height: 1.5em;
        width: 100%;
        display: table;
      }
    }
    .viewer-media-row {
      .media-button {
        margin: 0px 3px;
      }
    }
  }
  
  @include media-breakpoint-down(sm) {
    .post-viewer-main-col {
      margin-left: 15px;
      .viewer-title-row {
        font-size: 40px;
      }
      
    }
  }
}
