.individual-post-container {
    margin: 0px auto;

  .individual-post {
    margin: 0px;
    border-radius: inherit;
    padding: 20px 0px;
    width: 100%;
    background-color: white;
    border-top: 1.5px solid lightgray;
    border-bottom: 1.5px solid lightgray;
    border-left: 8px solid white;
  }
  .individual-post:hover {
    .title, .date {
      text-decoration: none;
    }
    cursor: pointer;
    border-top: 1.5px solid darkgray;
    border-bottom: 1.5px solid darkgray;
    border-left: 8px solid darkgray;
  }
}