$hover-color: #0F1CF0;

.individual-post-container {
  padding: 18px 0px;
  .individual-post {
    border-radius: inherit;
    width: 100%;
    background-color: white;
    .read-more {
      color: $hover-color;
    }
    .title {
      font-weight: bold;
      font-size: 20px;
    }
    .title:hover {
      color: $hover-color;
    }
  }
  .individual-post:hover {
    cursor: pointer;
  }
}