.individual-post {
  margin: 2px auto;
  padding: 20px 0px;
  //min-width: 350px;
  width: 100%;
  background-color: white;
}
.individual-post:hover {
  .title, .date {
    text-decoration: underline;
  }
}
.individual-post > * {
  pointer-events: none;
}
