$separation-color: lightgray;
$padding-size: 30px;

.hidden {
  display: none;
}

.post-editor-container {
  height: 100%;
  background-color: $separation-color;
  .post-editor-main-col {
    margin: 3px 3px;
  }
  .post-editor-main-col > div {
    background-color: white;
  }
  .title-input, .content-input {
    border: none transparent;
    outline: none;
    width: 100%;
    max-height: 100vh;
  }
}

.title-row {
  padding: $padding-size $padding-size 0px $padding-size;
}
.information-row {
  padding: 0px $padding-size $padding-size $padding-size;
  .no-padding
  {
    padding: 0px;
    margin: 0px;
  }
  .edit-button {
    border-radius: 5px;
    background-color: white;
    border: solid 1px gray;
    padding: 3px 10px;
  }
  .edit-button:hover {
    border: solid 1px black;
    text-decoration: underline;
    cursor: pointer;
  }
  .tags-label {
    padding: 0px;
  }
  .tags-input {
    border: none transparent;
    border-bottom: solid 1px gray;
    outline: none;
  }
}
.content-row {
  padding: 15px 30px;
  margin-top: 3px;
}
.button-row {
  margin-top: 3px;
  padding: 10px;
  div {
    margin: 0px auto;
    button {
      padding: 3px 6px;
      margin: 0px 5px;
      width: 65px; 
      border-radius: 5px;
      border: solid 1px gray;
      background-color: white;
    }
    button:hover {
      text-decoration: underline;
      border: solid 1px black;
    }
  }
}