$separation-color: lightgray;
$padding-size: 30px;
$confirm-color: rgb(3, 186, 252);
$confirm-color-hover: rgb(97, 213, 255);


.post-viewer-container {
  background-color: white !important;
  .post-viewer-main-col {
    margin: 3px 3px;
    .viewer-title-row {
      padding: 60px $padding-size 0px $padding-size !important;
    }
    .viewer-information-row {
      padding: 0px $padding-size;
      .no-padding
      {
        padding: 0px;
        margin: 0px;
      }
      .tags-label {
        padding: 0px;
      }
    }
    .viewer-padding-row {
      height: 30px !important;
    }
    .viewer-content-row {
      padding: 15px 30px;
      margin-top: 3px;
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      .content-paragraph {
        min-height: 1.5em;
        line-height: 1.5em;
        width: 100%;
        display: table;
      }
    }
  }
  .post-viewer-main-col > div {
    background-color: white;
  }
}
