<ng2-slim-loading-bar color="black"></ng2-slim-loading-bar>

<nav class="navbar-default navbar-expand-md bg-light">
  <div class="navbar-collapse collapse wrapper">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item main-nav-tab">
        <a routerLink="home" class="nav-link nav-tab" routerLinkActive="active">
          Aaron Bae
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="projects" class="nav-link nav-tab" routerLinkActive="active">
          Projects
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="home" class="nav-link nav-tab" routerLinkActive="active">
          Blog
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="resume" class="nav-link nav-tab" routerLinkActive="active">
          Resume
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="home" class="nav-link nav-tab" routerLinkActive="active">
          Admin
        </a>
      </li>
    </ul>
  </div>
</nav>
  
<router-outlet></router-outlet>