<nav class="navbar navbar-static-top navbar-dark bg-dark nav-justified">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a id="shit" class="navbar-brand" href="#">AaronBae</a>
    </div>
    <ul class="nav nav-pills ">
      <li role="presentation" class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#" class="nav-link">Projects</a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#" class="nav-link">GitHub</a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#" class="nav-link">LinkedIn</a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#" class="nav-link">Resume</a>
      </li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>
