/* big */
@media (min-width: 769px) {
  #bio-info > li:first-child {
    font-size: 1.3rem;
  }
}
/* small */
@media (min-width: 400px) and (max-width: 768px){
  #bio-info > li:first-child {
    font-size: 1.8rem;
  }
}
/* extra small */
@media (max-width: 400px) {
  #bio-info > li:first-child {
    font-size: 1.3rem;
  }
}
.introduction-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
.introduction-container > * {
  text-align: center;
}
#profile-img {
  border-radius: 40px;
  max-height: 300px; 
}
#bio-info {
  padding: 20px 0px;
  display: inline-flex;
  flex-direction: column;
}
#bio-info > li {
  text-align: center;
}
.intro-link-wrapper {
  padding-top: 20px;
}
.intro-icon {
  width: 40px;
  padding: 0px 10px;
}