.individual-experience {
  padding: 20px 10px;
}
.company-logo {
  position: absolute;
  padding-left: 7px;
  width: 55px;
  height: 55px;
}
.company-info-wrapper {
  margin-top: 5px;
  padding-left: 80px;
  min-height: 55px;
  overflow: auto;
}
.position-title-span, .time-worked-span, .company-name-span {
  line-height: 15px;
  margin: 5px 0px;
}
.position-title-span {
  font-size: 1.3rem;
  float: left;
}
.company-name-span {
  float: left;
  clear: left;
}
.time-worked-span {
  float: right;
  color: gray;
}
/* small */
@media (max-width: 768px){
  .time-worked-span {
    float: left;
  }
}
.role-title {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}