.all-signin-container {
  height: 80vh;
  .main-column {
    margin: 0px auto;
    
    .form-unit {
      background: white;
      margin-top: 15vh;
      padding: 35px 0px;
      border: solid 1px black;
      border-radius: 10px;

      .admin-title-row > h3 {
        margin: 0px auto;
      }
      
      .form-item-row {
        height: 30pt;
        margin-top: 7px;
        .text-input {
          margin: 0px auto;
          padding: 5pt;
          width: 80%;
          max-width: 300px;
          border-radius: 5px;
          border: solid 1px gray;
        }
        .text-input:hover {
          border: solid 1px black;
        }
        .text-input:focus {
          outline: none;
        }
        .incorrect {
          box-shadow: 0 0 5px red;
        }
      }
      
      .buttons-row {
        height: 25pt;
        .sign-in-button {
          padding: 3px 6px;
          margin: 0px auto;
          border-radius: 5px;
          border: solid 1px gray;
          background: white;
          width: 65px;
          width: 80%;
          max-width: 300px;
          height: 2.1em;
        }
        .sign-in-button:hover {
          border: solid 1px black;
          background: lightgray;
        }
        .sign-in-button:focus {
          outline: none;
        }
      }
    }
  }
}