<VirtualHost *:80>
  ServerName aaronbae.com
  # redirect all HTTP to HTTPS
  Redirect / https://aaronbae.com/
</VirtualHost>
<VirtualHost *:443>
  ServerName aaronbae.com

  # Enable SSL
  SSLEngine on
  SSLCertificateFile /etc/ssl/www_aaronbae_com.crt
  SSLCertificateKeyFile /etc/ssl/aaronbae.key
  SSLCertificateChainFile /etc/ssl/www_aaronbae_com.ca-bundle
  
  # Default apache logging
  ErrorLog   ${APACHE_LOG_DIR}/error.log
  CustomLog  ${APACHE_LOG_DIR}/access.log combined
  LogLevel warn

  # ProxyPass for Node.js
  ProxyPreserveHost On
  ProxyVia Full
  ProxyRequests off
  <Proxy *>
    Order deny,allow
    Allow from all
  </Proxy>

  # backend
  ProxyPass /api/ http://localhost:4000/api/
  ProxyPassReverse /api/ http://localhost:4000/api/

  # frontend
  ProxyPass / http://localhost:3000/
  ProxyPassReverse / http://localhost:3000/
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet