<div class="container wrapper">
  <div class="row">
    <div class="col-md-3">
      <app-home></app-home>
    </div>
    <div class="col-md-5 resume-container">
      <div class="row title">
          <h2>Resume</h2>
      </div> 
      <div class="row center">
          <img src='assets/resume-thumbnail.png' alt="resume-thumbnail" class="pdf-thumbnail">
      </div>
      <div class="row center">
          <a href="assets/resume.pdf" download>
            <img src="assets/icons/download.png" alt="download" class="download-icon">
            <span>Download - last updated {{date}}</span>
          </a>
        </div>
    </div>
  </div>
</div>