<div class="row">
  <div class="col-lg-3 home-col">
    <app-home></app-home>
  </div>
  <div class="col-lg-9 col-md-12 resume-container">
    <div class="row title">
      <h2>Resume</h2>
    </div> 
    <div class="row center">
      <img src='assets/downloadables/resume-thumbnail.png' alt="resume-thumbnail" class="pdf-thumbnail">
    </div>
    <div class="row center">
      <a href="assets/downloadables/resume.pdf" download>
      <img src="assets/icons/download.png" alt="download" class="download-icon">
      <span>Download - last updated {{date}}</span>
    </a>
  </div>
</div>