.blog-container {
    text-align: center;
}
.post-table-head {
    padding-left: 30px;
    border-bottom: solid 1px black;
}
.individual-post-container {
    border: solid 1px black;
    border-radius: 10px;
    height: 50px;
    margin: 5px 0px;
}
.individual-post-container:hover {
    font-weight: bold;
    font-size: 99%;
}
.post-content {
    padding-top: 13px;
} 
.tag {
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.political {
    background-color: #555555;
}
.programming {
    background-color: #4b2e83;
}
.daily {
    background-color: #009fff;
}
.future {
    background-color: #da2316;
}
.tag:hover {
    font-weight: normal;
    font-size: 100%;
}