$separation-color: lightgray;
$padding-size: 30px;
$confirm-color: rgb(3, 186, 252);
$confirm-color-hover: rgb(97, 213, 255);

.hidden {
  display: none;
}

.post-editor-container {
  height: 100%;
  background-color: $separation-color;
  .post-editor-main-col {
    margin: 3px 3px;
    textarea {
      width: 100%;
      padding: 0px;
      border: none transparent;
      outline: none;
      width: 100%;
      resize: none;
    }
    .title-row {
      padding: $padding-size $padding-size 0px $padding-size;
      font-size: 40px;
      line-height: 1.1em;
      .plain-title {
        margin: 0px;
        padding-bottom: 1px;
      }
    }
    .information-row {
      padding: 0px $padding-size ($padding-size/2) $padding-size;
      .no-padding
      {
        padding: 0px;
        margin: 0px;
      }
      .edit-button {
        border-radius: 5px;
        background-color: white;
        border: solid 1px gray;
        padding: 3px 10px;
      }
      .edit-button:hover {
        border: solid 1px black;
        text-decoration: underline;
        cursor: pointer;
      }
      .tags-label {
        padding: 0px;
      }
      .tags-input {
        border: none transparent;
        border-bottom: solid 1px gray;
        outline: none;
        line-height: 1em;
        width: 45%;
      }
      .toggle-label {
        padding-right: 5px;  
      }
    }
    .content-row {
      padding: 15px 30px;
      margin-top: 3px;
      // This also affects ContentEditor's Images
      .aws-image {
        max-width:100%;
        height: auto;
        display: block;
        margin: 30px auto;
      }
      .plain-content {
        margin-bottom: 1px;
      }
      .content-paragraph {
        min-height: 1.5em;
        line-height: 1.5em;
        width: 100%;
        padding: 0px;
      }
    }
    .button-row {
      margin-top: 3px;
      padding: 10px;
      div {
        margin: 0px auto;
        button {
          padding: 3px 6px;
          margin: 0px 5px;
          width: 65px; 
          border-radius: 5px;
        }
        .save-button {
          color: white;
          border: solid 1px $confirm-color;
          background-color: $confirm-color;
        }
        .cancel-button, .delete-button {
          border: solid 1px gray;
          background-color: white;
        }

        .save-button:hover {
          border: solid 1px $confirm-color-hover;
          background-color: $confirm-color-hover;
        }
        .cancel-button:hover {
          border: solid 1px black;
        }
        .delete-button:hover {
          color: red;
          border: solid 1px red;
        }
      }
    }
  }
  .post-editor-main-col > div {
    background-color: white;
  }
}
