/* small */
@media (max-width: 480px) {
  .company-logo {
    margin-right: auto;
    margin-left: auto;
  }
  .company-info-wrapper {
    margin-top: 15px;
  }
  .position-title-span {
    line-height: 25px;
  }

}
/* big */
@media (min-width: 481px) {
  .company-logo {
    position: absolute;
    padding-left: 7px;
  }
  .company-info-wrapper {
    padding-left: 80px;
    margin-top: 5px;
  }
  .position-title-span {
    line-height: 20px;
  }

}
.individual-experience {
  padding: 20px 10px;
}
.company-logo {
  width: 55px;
  height: 55px;
  display: block;
}
.company-info-wrapper {
  min-height: 55px;
  overflow: auto;
}
.time-worked-span, .company-name-span {
  line-height: 15px;
  margin: 5px 0px;
}
.position-title-span {
  font-size: 1.3rem;
  float: left;
}
.company-name-span {
  float: left;
  clear: left;
}
.time-worked-span {
  float: right;
  color: gray;
}
/* small */
@media (max-width: 768px){
  .time-worked-span {
    float: left;
  }
}
.role-title {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}