
// Main Panel
.total-section {
  .content-section {
    // Education
    .education-img {
      max-width: 150px; 
      width: 100%;
    }
    .education-bullets {
      margin-left: 16px;
    } 
  }
}
