@import '../Common/design.scss';

// All Panels
.home-container {
  max-width: 1500px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

// Main Panel
.total-section {
  padding-left: 15px;
  .title-section {
    border-bottom: solid black 1px;
  }
  .content-section {
    padding-top: 10px;   
    padding-bottom: 10px; 
  }
}
