* {
    padding: 0px;
    margin: 0px;
}
.home-container {
    padding-top: 10px;
}
.home-container > .row {
    text-align: center;
}
.roundedCard {
  border-radius: 40px;
}
.profile-img {
    max-width: 282px;
    max-height: 376px;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0px auto;
}
.name-item {
    padding: 10px 0px;
    font-size: 2em;
    font-weight: bold;
}
.external-link-container{
    padding-top: 20px;
}
.external-link-icon {
    width: 40px;
    height: 40px;
    margin: 0px 20px 20px 20px;
}
